.item {
    width: 400px;
    margin: 15px;
    background-color: blueviolet;
}
.ItemImg img {
    max-width: 400px;
}
.active {
    background-color: brown;
}
.regular {
    background-color: burlywood;
}