p {
    margin: 0;
    padding: 0;
}
header {
    border-bottom: 1px solid #6abd44;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 2;
}
.headerBody {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
}
.flexBoxLeft,
.flexBoxCenter,
.flexBoxRight {
    display: flex;
    width: 33.333%;
}
.flexBoxCenter {
    justify-content: center;
}
.flexBoxRight {
    justify-content: flex-end;
}
.headerCart {
    position: relative;
    align-self: center;
}
.shopCartBlock img {
   width: 40px;
   height: 40px;
   margin-right: 40px;
  
}
.spanData {
    position: absolute;
    background-color: #e31e24;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    top: 27px;
    right: 35px;
    color: #fff;
    box-sizing: border-box;
    line-height: 19px;
}
.logoBlock {
    align-self: center;
}
.logo {
    width: 200px;
    margin: 5px 5px 0px 5px;
}
.menuLink {
    width: 60px;
    margin: 0 20px;
    align-self: center;
}
